body#NoAConfig {
    color: orange;
    text-align: center;
    text-shadow: 3px 2px black;
    background: transparent linear-gradient(to bottom, rgba(01, 115, 109, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
    border: 1px solid #01B0AA;
    border-radius: 40px;
    padding: 1px;
    !important
}

#NoAConfig .field_label {
    font-size: 15px;
    text-shadow: 1px 1px black;
    font-weight: normal;
}

#NoAConfig textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #01b0aa;
    background-color: #004542;
    color: #FFF;
}

#NoAConfig_resetLink {
    color: orange!important;
    text-shadow: none;
    margin: 5pt;
}

#NoAConfig_header {
    border-bottom: 1px solid #01B0AA;
}