body#NoAConfig {
    color: orange;
    text-align: center;
    text-shadow: 3px 2px black;
    background-color: rgb(1, 59, 57);
    border: 1px solid #01B0AA;
    border-radius: 40px;
    margin: 0px!important;

    column-count: 2;
}

#NoAConfig .field_label {
    font-size: 15px;
    text-shadow: 1px 1px black;
    font-weight: normal;
}

#NoAConfig textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #01b0aa;
    background-color: #004542;
    color: #FFF;
}

#NoAConfig_resetLink {
    color: orange!important;
    text-shadow: none;
    margin: 5pt;
}

#NoAConfig_header {
    column-span: all;
    margin-bottom: 8px;
    border-bottom: 1px solid #01B0AA;
}

iframe#NoAConfig {
    width: 640px !important;
    height: 80% !important;
    border: none !important;
    border-radius: 40px;
    background: transparent linear-gradient(to bottom, rgba(01, 115, 109, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
}

#NoAConfig_chatSearchValues_var, #NoAConfig_lootSearchValues_var, #NoAConfig_craftingSearchValues_var, #NoAConfig_buttons_holder {
    column-span: all;
}

.config_var > textarea{
    width:90%;
    height:15%;
    margin-top:8px!important;
}

#NoAConfig .saveclose_buttons {
    border-radius: 3px;
    padding: 0 4px;
    color: #FFF;
    background-color: #122D2D;
    background-image: linear-gradient(to bottom,#235A5A 0,#092d29 100%);
    background-repeat: repeat-x;
    display: inline-block;
    font: 12px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    border: 1px solid #01b0aa;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    padding: 5px;
}